# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Ambiente virtual
venv/
.venv/
env/

# Variáveis de ambiente
.env

# Banco de dados
*.db
*.sqlite

# IDEs
.vscode/
.idea/

# Logs
logs/
*.log

# Distribuição / build
dist/
build/
*.egg-info/

# Testes
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db